/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */


.fourcol, .fivecol, .sixcol{
margin-right: 3.8%;
float: center;
max-height: 1.5em;
}

.row .fourcol {
/*float: right;
*/}

.row .fivecol {
width: 45%;
}

.row .sixcol {
width: 48%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.9em;
	/* line-height: 1.6em; */
	}

	.logo {
		font-size: 17em;
	}
	
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	font-size: .85em;
	/* font-size: 0.em;
	line-height: 1.5em; */
	-webkit-text-size-adjust: none;
	}

	.logo {
		font-size: 12em;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .fourcol, .row .fivecol, .row .sixcol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}