/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }



/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/* 
@media only screen and (min-width: 35em) {
  Style adjustments for viewports that meet the condition
}
*/

/* ============================= */
/* ! Tablets & smaller screens   */
/* ============================= */

@media only screen and (max-width: 1023px) {
	
	/* Header Specific */
	header.splash { background-attachment: scroll; /* background-position-x: 64%; height: 550px; background-size: 1806px 550px; */ }
	header nav { margin: 7.2% 0 0 0; }
	header nav ul li a { padding: .7em 1em; font-size: 1.2em; }
	header .intro h1 { font-size: 3.2em; }
	header .intro p { font-size: 1.2em; }
	
	/* About Specific */
	.about .row:first-child { padding: 0; margin-bottom: 2em; }
	.about .row:first-child > div { margin-bottom: 3em; }
	.about .capabilities div h4 { top: -.05em; }

	
	/* Footer Speicific */
	footer .social li a { background-size: 60px 120px; width: 60px; height: 60px; }
	footer .social li a:hover { background-position: 0 -60px; }
	
	/* Fixed Bar */
	.fixed-bar nav ul { padding: 3.1% 0 0 0; }
	.fixed-bar nav ul li a { font-size: 1.3em; }
	.fixed-bar #back-to-top { margin-top: 5%; }
	
	/* Content Styles */
	a { font-weight: 700; }
	a.button-link { padding: .5em 1.4em; }
	p.deck { font-weight: 300; }
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	/* Header Specific */
	/* header.splash { background: linear-gradient(rgba(39, 39, 38, 0.8), rgba(39, 39, 38, 0.8)), url(imgs/bg_header-home_v3.jpg) fixed no-repeat; } */
	header { margin-bottom: 1em; }
	header.splash { background-image: linear-gradient(rgba(23, 22, 23, 0.8), rgba(23, 22, 23, 0.8)), url(imgs/bg_header-home_v2.jpg); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;  background-attachment: scroll; background-position-x: 60%; }
	header#page-error { background-position-x: 66%; height: 550px; }
	header#page-error .logo { display: none; }
	header .logo img { width: 152px; height: 170px; margin: 20px auto 0 auto; }
	header nav { margin: 20px 0 0 0; }
	header nav ul { border-bottom: 1px solid #2f2f2f; border-bottom: 1px solid rgba(0,0,0,.4); text-align: center; }
	header.splash nav ul { border-bottom: 1px solid #fff; border-bottom: 1px solid rgba(255,255,255,.4); text-align: center; }
	/* header nav ul:first-child li, header nav ul:last-child li { margin: 0; } */
	header nav ul li a, header.splash nav ul li a { font-size: 1.5em; padding: .4em .5em .5em .5em; }
	header nav ul li:last-child a { padding-right: .5em; }
	header nav li a:hover, header.splash nav li a:hover { padding-top: .4em; }
	/* header nav li:last-child a { padding-right: 0; border-right: none; } */
	header .intro { text-align: center; }
	header .intro h1 { font-size: 2.6em; margin: 30px 0 20px 0; }
	header .intro p { font-size: 1.1em; }
	header .intro a { margin-bottom: 0; }
	
	/* About Specific */
	.about .capabilities { margin-top: 3em; }
	.about .capabilities div h4 { top: -.1em; }

	
	/* Footer Specific */
	footer .social li a { margin-right: .5em; }
	footer .contact { margin-bottom: 3em; }
	
	/* Fixed Bar */	
	.fixed-bar .row > div:first-child { display: none; }
	.fixed-bar .row { padding: .7em 0; }
	.fixed-bar nav ul { padding: 0; margin-top: 0; }
	.fixed-bar nav ul li a { font-size: 1.3em; margin-right: 1em; }
	.fixed-bar #back-to-top { margin-top: 0; }
}

/* ========================================== */
/* ! Provide higher res assets for retina     */
/* ========================================== */

	/*Fixed Bar */
	.fixed-bar a#back-to-top { background-image: url(imgs/icon_up-arrow-2x.png); background-size: 15px 48px; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1023px) { 
	
	/* Footer Specific */
	footer .social a { background-size: 90px 180px; }
	footer .social .twitter { background-image: url(imgs/sprite_twitter-2x.png); }
	footer .social .google-plus { background-image: url(imgs/sprite_google-plus-2x.png); }
	footer .social .forrst { background-image: url(imgs/sprite_forrst-2x.png); }
	footer .social .pinterest { background-image: url(imgs/sprite_pinterest-2x.png); }
	footer .social .facebook { background-image: url(imgs/sprite_facebook-2x.png); }
	footer .social .dribbble { background-image: url(imgs/sprite_dribbble-2x.png); }	
}

/* ==|== Custom CSS3 Animations =============================================
   These styles are for progressively enhanced animations throuhgout the site
   ========================================================================== */

@-webkit-keyframes comment-author {
    0% { box-shadow: 0 0 0 0 #ff681f; }	
    100% { box-shadow: 0 0 5px 5px #ff681f; }
}
@-moz-keyframes comment-author {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.1); }
    100% { -moz-transform: scale(1); }
}
@-ms-keyframes comment-author {
    0% { -ms-transform: scale(1); }	
	50% { -ms-transform: scale(1.1); }
    100% { -ms-transform: scale(1); }
}
@-o-keyframes comment-author {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.1); }
    100% { -o-transform: scale(1); }
}
@keyframes comment-author {
    0% { transform: scale(1); }	
	50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}